langgraph-cli[inmem]
langgraph-api>=0.11.0
langgraph
langchain
langsmith
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-mcp-adapters>=0.3.2,<0.4.0
mcp[cli]>=1.30.0,<2.0.0
httpx
fastapi
uvicorn
chromadb
sentence-transformers
pypdf
python-docx
python-multipart
langchain_chroma
pydantic>=2.0
pydantic-settings
python-dotenv